<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TbstudentMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Tbstudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="createAt" jdbcType="BIGINT" property="createat" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="enterAt" jdbcType="BIGINT" property="enterat" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="onlineId" jdbcType="INTEGER" property="onlineid" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="desire" jdbcType="VARCHAR" property="desire" />
    <result column="bro" jdbcType="VARCHAR" property="bro" />
    <result column="updateAt" jdbcType="BIGINT" property="updateat" />
    <result column="knowFrom" jdbcType="VARCHAR" property="knowfrom" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createAt, name, qq, type, city, enterAt, school, onlineId, link, desire, bro, 
    updateAt, knowFrom
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbstudent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--查询所有-->
  <select id="selectAll" resultType="com.pojo.Tbstudent">
        SELECT * FROM tbstudent
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbstudent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Tbstudent">
    insert into tbstudent (id, createAt, name, 
      qq, type, city, enterAt, 
      school, onlineId, link, 
      desire, bro, updateAt, 
      knowFrom)
    values (#{id,jdbcType=INTEGER}, #{createat,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{enterat,jdbcType=BIGINT}, 
      #{school,jdbcType=VARCHAR}, #{onlineid,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}, 
      #{desire,jdbcType=VARCHAR}, #{bro,jdbcType=VARCHAR}, #{updateat,jdbcType=BIGINT}, 
      #{knowfrom,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Tbstudent">
    insert into tbstudent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createat != null">
        createAt,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="enterat != null">
        enterAt,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="onlineid != null">
        onlineId,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="desire != null">
        desire,
      </if>
      <if test="bro != null">
        bro,
      </if>
      <if test="updateat != null">
        updateAt,
      </if>
      <if test="knowfrom != null">
        knowFrom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createat != null">
        #{createat,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="enterat != null">
        #{enterat,jdbcType=BIGINT},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="onlineid != null">
        #{onlineid,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="desire != null">
        #{desire,jdbcType=VARCHAR},
      </if>
      <if test="bro != null">
        #{bro,jdbcType=VARCHAR},
      </if>
      <if test="updateat != null">
        #{updateat,jdbcType=BIGINT},
      </if>
      <if test="knowfrom != null">
        #{knowfrom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Tbstudent">
    update tbstudent
    <set>
      <if test="createat != null">
        createAt = #{createat,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="enterat != null">
        enterAt = #{enterat,jdbcType=BIGINT},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="onlineid != null">
        onlineId = #{onlineid,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="desire != null">
        desire = #{desire,jdbcType=VARCHAR},
      </if>
      <if test="bro != null">
        bro = #{bro,jdbcType=VARCHAR},
      </if>
      <if test="updateat != null">
        updateAt = #{updateat,jdbcType=BIGINT},
      </if>
      <if test="knowfrom != null">
        knowFrom = #{knowfrom,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Tbstudent">
    update tbstudent
    set createAt = #{createat,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      enterAt = #{enterat,jdbcType=BIGINT},
      school = #{school,jdbcType=VARCHAR},
      onlineId = #{onlineid,jdbcType=INTEGER},
      link = #{link,jdbcType=VARCHAR},
      desire = #{desire,jdbcType=VARCHAR},
      bro = #{bro,jdbcType=VARCHAR},
      updateAt = #{updateat,jdbcType=BIGINT},
      knowFrom = #{knowfrom,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>