<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.IntroMapper">
  <insert id="insertIntro" parameterType="com.pojo.Intro">
    INSERT INTO tbintro
    (name,
    createAt,
    updateAt,
    updateBy)
    VALUES
    (#{name},
    #{createAt},
    #{updateAt},
    #{updateBy})
  </insert>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM tbintro WHERE id = #{id}
  </delete>

  <update id="updateIntro" parameterType="com.pojo.Intro">
   UPDATE tbintro SET
   name = #{name},
   createAt = #{createAt},
   updateAt = #{updateAt},
   updateBy = #{updateBy}
   WHERE id = #{id}
  </update>

  <select id="findById" parameterType="Long" resultType="com.pojo.Intro">
    SELECT * FROM tbintro WHERE id = #{iid}
  </select>
</mapper>