<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.ManagerMapper">
  <insert id="insertManager" parameterType="com.pojo.Manager">
    INSERT INTO tbmanager
    (name,
    password,
    lastLogAt)
    VALUES
    (#{name},
    #{password},
    #{lastLogAt})
  </insert>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM tbmanager WHERE id = #{id}
  </delete>

  <update id="updateManager" parameterType="com.pojo.Manager">
    UPDATE tbmanager SET
    name = #{name},
    password = #{password},
    lastLogAt = #{lastLogAt}
    WHERE
    id = #{id}
  </update>

  <select id="findById" parameterType="Long" resultType="com.pojo.Manager">
    SELECT * FROM tbmanager WHERE id = #{mid}
  </select>
</mapper>