<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProductionMapper">
  <insert id="insertProduction" parameterType="com.pojo.Production">
    INSERT INTO tbproduction
    (sampleReelsId,
    sampleReelsName,
    themeId,
    themeName,
    name,
    content,
    createAt,
    updateAt,
    updateBy)
    VALUES
    (#{sampleReelsId},
    #{sampleReelsName},
    #{themeId},
    #{themeName},
    #{name},
    #{content},
    #{createAt},
    #{updateAt},
    #{updateBy})
  </insert>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM tbproduction WHERE id = #{id}
  </delete>

  <update id="updateProduction" parameterType="com.pojo.Production">
    UPDATE tbproduction SET
    sampleReelsId = #{sampleReelsId},
    sampleReelsName = #{sampleReelsName},
    themeId = #{themeId},
    themeName = #{themeName},
    name = #{name},
    content = #{content},
    createAt = #{createAt},
    updateAt = #{updateAt},
    updateBy = #{updateBy}
    WHERE
    id = #{id}
  </update>

  <select id="findById" parameterType="Long" resultType="com.pojo.Production">
    SELECT * FROM tbproduction WHERE id = #{pid}
  </select>
</mapper>