<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--开启扫描-->
    <context:component-scan base-package="com.service"/>

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:properties/db.properties"/>
    <!--连接数据库-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!--配置阿里云短信服务-->
    <context:property-placeholder location="classpath:properties/message.properties,classpath:properties/email.properties" ignore-unresolvable="true" order="2"/>
    <bean id="smsBean" class="com.pojo.Message">
        <property name="accessKeyId" value="${Message.accessKeyId}"/>
        <property name="accessKeySecret" value="${Message.accessKeySecret}"/>
        <property name="signName" value="${Message.signName}"/>
        <property name="templateCode" value="${Message.templateCode}"/>
        <property name="product" value="${Message.product}"/>
        <property name="domain" value="${Message.domain}"/>
    </bean>
    <!--配置阿里云邮件服务-->
    <bean id="emailBean" class="com.pojo.Email">
        <property name="region" value="${email.region}"/>
        <property name="accessKeyId" value="${email.accessKeyId}"/>
        <property name="accessKeySecret" value="${email.accessKeySecret}"/>
        <property name="accountName" value="${email.accountName}"/>
        <property name="fromAlias" value="${email.fromAlias}"/>
        <property name="tagName" value="${email.tagName}"/>
        <property name="subject" value="${email.subject}"/>
        <property name="htmlBody" value="${email.htmlBody}"/>
    </bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>
    <!--DAO接口所在包名-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>